################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HelloWorld/obj
/HelloWorld/.vs/HelloWorld
/HelloWorld/bin/Debug/netcoreapp3.1
/.vs/HelloWorld/DesignTimeBuild
/.vs/HelloWorld/v15/Server/sqlite3
/.vs/HelloWorld/v16
/HelloWorldTest/bin/Debug/netcoreapp3.1
/HelloWorldTest/obj
/HelloWorld
/.vs/HelloWorld
.vs
