@model string;

<div class="A_@Model"><span>@Model</span></div>

<div>这里是添加的局部视图</div>

<div>123456</div>

<div>------------------------------</div>

<div onclick="AldivValue()">点击弹窗</div>

<script>

    function AldivValue()
    {
        alert($(".A_@Model").find("span").html());
    }

</script>